@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<PhysicalActivityViewModel> physicalActivities = (List<PhysicalActivityViewModel>)ViewData["PhysicalActivities"];
    List<HealthcareActivityViewModel> healthcareActivities = (List<HealthcareActivityViewModel>)ViewData["HealthcareActivities"];
    string activityType = (string)ViewData["activityType"];
}


<form asp-action="Details" asp-controller="Overview">
    <div class="input-group" style="margin-bottom: 20px">
        <div class="input-group-prepend">
            <span class="input-group-text">Activity type</span>
        </div>
        <select name="activityType" class="form-control">
            <option value="Run">Running</option>
            <option value="Walk">Walking</option>
            <option value="Cycling">Cycling</option>
            <option value="Swimming">Swimming</option>
            <option value="WaterIntake">Water intake</option>
            <option value="Calories">Calories</option>
            <option value="Sleep">Sleep</option>
            <option value="Weight">Weight</option>
        </select>

        <div class="input-group-prepend">
            <span class="input-group-text">From</span>
        </div>
        <input name="fromDate" class="form-control col-sm-3" type="date" />

        <div class="input-group-prepend">
            <span class="input-group-text">To</span>
        </div>
        <input name="toDate" type="date" class="form-control col-sm-3" />

        <div class="input-group-append">
            <input type="submit" class="btn btn-outline-dark" name="Submit" />
        </div>
    </div>
</form>

@if (physicalActivities != null && physicalActivities.Count != 0)
{
    <table class="table-bordered table-hover" style="margin-top: 30px; margin: 0 auto; width:100%; text-align:center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time started</th>
                <th>Time ended</th>
                <th>Time spent</th>
                <th>Distance covered</th>
            </tr>
        </thead>

        @foreach (var activity in physicalActivities)
        {
            <tr>
                <td>
                    @activity.Name
                </td>
                <td>
                    @activity.Date.ToShortDateString()
                </td>
                <td>
                    @(activity.TimeStarted.Hour+":"+@activity.TimeStarted.Minute)
                </td>
                <td>
                    @(activity.TimeEnded.Hour+":"+@activity.TimeEnded.Minute)
                </td>
                <td>
                    @(activity.TimeEnded.Subtract(activity.TimeStarted).ToString(@"hh\:mm")+"h.")
                </td>
                <td>
                    @(activity.DistanceCovered+"m.")
                </td>
            </tr>
        }
    </table>

}
else if (healthcareActivities != null && healthcareActivities.Count != 0)
{
    <table class="table-bordered table-hover" style="margin-top: 30px; margin: 0 auto; width:50%; text-align:center">


        @if (activityType == "WaterIntake")
        {
            <thead>
                <tr><th>Water Intake</th><th>Date</th></tr>
            </thead>
            @foreach (var activity in healthcareActivities)
            {
                if (activity.WaterIntake != 0)
                {
                    <tr>
                        <td>@(activity.WaterIntake + "ml.")</td>
                        <td>@activity.Date.Value.ToShortDateString()</td>
                    </tr>
                }

            }
        }
        else if (activityType == "Calories")
        {
            <thead>
                <tr><th>Calories</th><th>Date</th></tr>
            </thead>
            @foreach (var activity in healthcareActivities)
            {
                if (activity.Calories != 0)
                {
                    <tr>
                        <td>@(activity.Calories + "kcal.")</td>
                        <td>@activity.Date.Value.ToShortDateString()</td>
                    </tr>
                }

            }
        }
        else if (activityType == "Weight")
        {
            <thead>
                <tr><th>Weight</th><th>Date</th></tr>
            </thead>
            @foreach (var activity in healthcareActivities)
            {
                if (activity.Weight != 0)
                {
                    <tr>
                        <td>@(activity.Weight + "kg.")</td>
                        <td>@activity.Date.Value.ToShortDateString()</td>
                    </tr>
                }

            }
        }
        else if (activityType == "Sleep")
        {
            <thead>
                <tr><th>Hours Slept</th><th>Date</th></tr>
            </thead>
            @foreach (var activity in healthcareActivities)
            {
                if (activity.HoursSlept != null)
                {
                    <tr>
                        <td>@(activity.HoursSlept.TrimStart('0') + "h.")</td>
                        <td>@activity.Date.Value.ToShortDateString()</td>
                    </tr>
                }

            }
        }
    </table>

}
